!!!
html
  head
    title
      block headtitle
        | NotableMind
    block extrahead
    link(href="/static/bootstrap/css/bootstrap.min.css"
         rel="stylesheet"
         media="screen")
    link(rel="icon", type="image/png", href="/static/imgs/favicon_hug.png")
    block css
    block head_js
  body
    block body
    block endjs
