#!/usr/bin/env python

from os.path import dirname, join
PROJECT_DIR = dirname(__file__)

DEBUG = True
API_KEY = False
SERVER_NAME = 'yourname.tld'
DB = {
    'type': 'sqlite', # other options: 'mongo'
    'name': join(PROJECT_DIR, 'ffound.db')
}
## To override for debug api mode
BASE_PERSON = '[person id]', '[person name]'
SANDBOX = False
# Force SSL?
SSL = False
## To make your secret key, use sys.urandom.
## For those using vim, you can just do:
##    :r!python -c 'import os; print repr(os.urandom(24))'
SECRET_KEY = False
raise NotImplemented('You need to create yourself a secret key!')

# vim: et sw=4 sts=4
