<!DOCTYPE html>
<html>
  <head>
    <title>FamilyFound</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="icon" type="image/png" href="/static/imgs/favicon_hug.png">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/jquery-ui.css" rel="stylesheet" media="screen">
    <link href="/static/css/home.css" rel="stylesheet" media="screen">
    <script src="/static/js/libs/jquery-1.8.0.js"></script>
    <script src="/static/js/libs/jquery-ui.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/libs/lodash.js"></script>
    <script src="/static/backbone-min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script src="/static/js/libs/oms.min.js"></script>
    <script src="/static/js/libs/infobox.js"></script>
    <script src="/static/utils.js"></script>
    <script src="/static/js/utils.js"></script>
  </head>
  <body>
    <div id="topnav" class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container"><a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a><img src="/static/imgs/icon_20.png" class="logo"><a href="#" class="brand">FamilyFound</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about-modal" data-toggle="modal" rel="button">About</a></li>
              <li><a href="https://bitbucket.org/jabapyth/familyfound/issues?status=new&amp;status=open" target="_blank">Issues</a></li>
              <li><a id="user-name" class="pull-right">Checking Login</a></li>
              <li><a id="loading-ind"></a></li>
              <li><a id="loading-top"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="modals">
      <div id="error-modal" class="modal hide fade">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
          <h3 class="title">An Error Occurred!</h3>
        </div>
        <div class="modal-body">
          <p class="body">Sorry, please try again</p>
        </div>
      </div>
      <div id="about-modal" class="modal hide fade">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
          <h3>About FamilyFound</h3>
        </div>
        <div class="modal-body">
          <p>
            FamilyFound is all about helping you get inside your family tree -
            see these people as real people.
          </p><a href="https://bitbucket.org/jabapyth/familyfound/">
            https://bitbucket.org/jabapyth/familyfound/
            </a>
        </div>
      </div>
      <div id="login-modal" class="modal hide fade">
        <div class="modal-header">
          <h3>Login through FamilySearch.org</h3>
        </div>
        <div class="modal-body">
          <iframe></iframe>
        </div>
      </div>
    </div>
    <div id="templates">
      <script name="tpl-event" type="text/tpl">
        <div class="event"><span>{ type }</span><b>Place:</b><span>{ place }</span><br><b>Date:</b><span>{ date }</span><br></div>
      </script>
      <script name="tpl-child" type="text/tpl">
        <div class="child"><span>{ name }</span><span>{ date }</span></div>
      </script>
      <script name="tpl-person" type="text/tpl">
        <div data-id="{ pid }" class="person">
          <div class="label generation">{ gen }</div>
          <div class="name">{ name }</div>
          <div class="id">{ pid }</div>
          <div class="dates"><span class="born">{ born }</span><span>-</span><span class="died">{ died }</span></div>
          <div class="people-alerts badge badge-important">Missing relatives { people_alerts }</div>
          <div class="info-alerts badge badge-important">Missing info { info_alerts }</div>
          <div class="links"><a href="https://familysearch.org/tree/#view=ancestor&amp;person={ pid }" target="_blank" class="familysearch">FS</a></div>
        </div>
      </script>
      <script name="tpl-list" type="text/tpl">
        <div data-id="{ id }" class="loading"><span class="title">{ name }</span><i class="pull-right icon-refresh"></i></div>
      </script>
      <script name="detail-event" type="text/tpl">
        <tr class="event">
          <td>{ type }</td>
          <td>{ age  }</td>
          <td>{ date }</td>
          <td>{ place }</td>
        </tr>
      </script>
      <script name="family-listing" type="text/tpl">
        <div class="family">
          <div data-id="{ spouse_id }" class="spouse"><span class="name">{ spouse_name }</span><span class="id">{ spouse_id }</span><span class="years">{ spouse_years }</span></div>
          <div class="marriage"><span class="marriage_date">Married { marriage_date }</span><span class="marriage_place">{ marriage_place }</span></div>
          <div class="children">
            <table class="table table-condensed">
              <tbody></tbody>
            </table>
          </div>
        </div>
      </script>
      <script name="child-listing" type="text/tpl">
        <tr data-id="{ id }" class="child">
          <td>{ name }</td>
          <td>{ id }</td>
          <td>{ years }</td>
        </tr>
      </script>
      <script name="parent-listing" type="text/tpl">
        <tr data-id="{ id }" class="parent">
          <td class="name">{ name }</td>
          <td class="id">{ id }</td>
          <td class="years">{ years }</td>
        </tr>
      </script>
      <script name="no-parents" type="text/tpl">
        <tr class="parent">
          <td class="name">No parents listed</td>
        </tr>
      </script>
      <script name="slider-year" type="text/tpl">
        <div style="left:{ left }%" class="year-label">{ year }</div>
      </script>
      <script name="map-ped-person" type="text/tpl">
        <div data-id="{ pid }" class="person-line">
          <div style="width: { width }%; left: { left }%;" title="{ name }" class="person"></div>
        </div>
      </script>
      <script name="map-marker-info" type="text/tpl">
        <div class="info-box">
          <div class="name">{ name }</div>
          <div class="years">{ years } ({ gen })</div>
          <div class="place">{ place }</div>
        </div>
      </script>
      <script name="map-person-event" type="text/tpl">
        <div class="event">
          <div><span class="name">{ name }</span><span class="years">{ years }</span></div>
          <div class="place">{ place }</div>
        </div>
      </script>
      <script name="research-button" type="text/tpl"><a title="Research this person on { title }" href="{ href }" target="_blank" class="btn btn-primary btn-block">{ title }</a></script>
    </div>
    <div id="body-contents" class="container-fluid">
      <div id="left-pane">
        <div class="inner">
          <div id="map-view">
            <div class="page-switcher">
              <div class="btn-group">
                <button title="View your ancestors on an interactive map" class="btn active btn-primary map tipme">Map</button>
                <button title="View your ancestors in a list" class="btn btn-primary list tipme">List</button>
              </div>
            </div>
            <div class="map-container"></div>
            <div id="timeline">
              <div class="top-bar">
                <button class="play-button btn btn-primary"><i class="icon-play"></i></button>
                <div class="slider"></div>
              </div>
              <div class="pedigree"></div>
              <div class="control">
                <div data-toggle="dropdown" class="handle"><i title="Change the sort method" class="icon-align-left icon-white tipme"></i></div>
                <ul class="dropdown-menu pull-right">
                  <li><a title="Sort by birth year" data-name="birth" class="disabled tipme">Birth</a></li>
                  <li><a title="Sort by death year" data-name="death" class="tipme">Death</a></li>
                  <li><a title="Sort by pedigree" data-name="pedigree" class="tipme">Pedigree</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div id="people-view">
            <div class="header navbar">
              <div class="navbar-inner">
                <!-- form.navbar-search.pull-left-->
                <!--    input(type='text', placeholder='Search').search-query-->
                <ul class="nav">
                  <li>
                    <div class="btn-group sort">
                      <button data-placement="bottom" title="Sort by birth year" class="btn btn-small year tipme">Year</button>
                      <button data-placement="bottom" title="Sort by generation number" class="btn btn-small active gen tipme">Generation</button>
                      <button data-placement="bottom" title="Sort by first name" class="btn btn-small name tipme">Name</button>
                      <button data-placement="bottom" title="Sort by last name" class="btn btn-small name tipme">Surname</button>
                    </div>
                  </li>
                  <li>
                    <div class="btn-group show">
                      <button data-placement="bottom" title="No filter" class="btn btn-small active btn-danger all tipme">All</button>
                      <button data-placement="bottom" title="Filter by people with missing information" class="btn btn-small btn-danger info tipme">Info</button>
                      <button data-placement="bottom" title="Filter by people with missing relationships" class="btn btn-small btn-danger people tipme">People</button>
                    </div>
                  </li>
                </ul>
                <ul class="nav pull-right">
                  <li>
                    <div class="btn-group view">
                      <button data-placement="bottom" title="View your ancestors on an interactive map" class="btn btn-primary map tipme">Map</button>
                      <button data-placement="bottom" title="View your ancestors in a list" class="btn active btn-primary list tipme">List</button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div id="people-listing"></div>
            <div id="person-detail">
              <div class="header navbar">
                <div class="navbar-inner"><span title="Generation number" class="gen badge tipme"></span><span class="name"></span><span class="id"></span><span class="years"></span>
                  <div class="links pull-right"><i title="View this person on the map" class="icon-map-marker icon-white tipme"></i><a title="View this person on familysearch.org" target="_blank" class="icon-edit icon-white tipme"></a><i title="Refresh this person from FamilySearch" class="icon-refresh icon-white tipme"></i>
                    <div class="close-btn">&times;</div>
                  </div>
                </div>
              </div>
              <div class="body">
                <div class="left-side">
                  <div class="events-listing">
                    <h3>Life Events</h3>
                    <table class="table table-striped table-condensed">
                      <thead>
                        <th>Event</th>
                        <th>Age</th>
                        <th>Date</th>
                        <th>Place</th>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                  <div class="families-listing">
                    <h3>Marriages</h3>
                    <div class="body"></div>
                  </div>
                  <div class="parents-listing">
                    <h3>Parents</h3>
                    <table class="table table-striped table-condensed"></table>
                  </div>
                </div>
                <div class="right-side">
                  <div class="alerts">
                    <h3>Info Alerts</h3>
                    <div class="people-alerts"> </div>
                    <div class="info-alerts"></div>
                  </div><!-- .fetch-links
                  <button class="btn btn-block btn-info ancestors">Fetch Ancestors</button>
                  <button class="btn btn-block btn-info descendents">Fetch Descendants</button>
                  <button class="btn btn-block btn-info both-ways">Fetch 5 Each Side</button>-->
                  <div class="search-links">
                    <h3>One-Click Research</h3>
                    <div class="body"></div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="right-pane">
        <div class="inner">
          <div id="groups-listing"></div>
          <div id="person-preview">
            <div class="header">
              <div class="name"></div>
              <div class="id"></div>
              <div class="generation btn-group pull-right"><a data-toggle="dropdown" title="The generations from them down to you" class="btn btn-primary dropdown-toggle tipme">Generation</a>
                <ul class="people dropdown-menu"></ul>
              </div>
            </div>
            <div class="body">
              <div class="switch-full pull-right"><i title="View full details" class="icon-resize-full tipme"></i></div>
              <button title="Show the line of them down to you on the map" class="btn btn-primary btn-mini single-line tipme">View Single Line</button>
              <div class="events">
                <h3>Life Events</h3>
                <table class="table-condensed table">
                  <thead>
                    <th>Event</th>
                    <th>Date</th>
                    <th>Place</th>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
              <div class="relatives">
                <div class="marriages">
                  <h3>Marriages</h3>
                  <div class="body"></div>
                </div>
                <div class="parents">
                  <h3>Parents</h3>
                  <table class="table table-condensed">
                    <tbody></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="clear:both"></div>
    </div>
    <script src="/urls.js"></script>
    <script src="/static/js/template_view.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/new-class.js"></script>
    <script src="/static/js/person.js"></script>
    <script src="/static/js/people-view.js"></script>
    <script src="/static/js/person-detail.js"></script>
    <script src="/static/js/familyfound.js"></script>
    <script src="/static/js/page-map.js"></script>
    <script src="/static/js/map-pedigree.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/urls.js"></script>
    <script src="/static/js/template_view.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/new-class.js"></script>
    <script src="/static/js/person.js"></script>
    <script src="/static/js/people-view.js"></script>
    <script src="/static/js/person-detail.js"></script>
    <script src="/static/js/familyfound.js"></script>
    <script src="/static/js/page-map.js"></script>
    <script src="/static/js/map-pedigree.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>